NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ENABLE_AUTH=false
NEXT_PUBLIC_ENABLE_MAPS=false
NEXT_PUBLIC_FRONTEND_FORGE_API_KEY=
NEXT_PUBLIC_FRONTEND_FORGE_API_URL=
NEXT_STATIC_EXPORT=false
ALLOWED_FRAME_ANCESTORS='self'

